/* Global Styles */
body {
    margin: 0;
    padding: 0;
  }
  /* search icon */
  .input-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    position: relative;
  }
  
  .input {
    border-style: none;
    height: 50px;
    width: 50px;
    padding: 10px;
    outline: none;
    border-radius: 50%;
    transition: .5s ease-in-out;
    background-color: #7e4fd4;
    box-shadow: 0px 0px 3px #f3f3f3;
    padding-right: 40px;
    color: #fff;
  }
  
  .input::placeholder,
  .input {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 17px;
  }
  
  .input::placeholder {
    color: #8f8f8f;
  }
  
  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    outline: none;
    border-style: none;
    border-radius: 50%;
    pointer-events: painted;
    background-color: transparent;
    transition: .2s linear;
  }
  
  .icon:focus ~ .input,
  .input:focus {
    box-shadow: none;
    width: 250px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom: 3px solid #7e4fd4;
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }
  /* menu button */
  #checkbox {
    display: none;
  }
  
  .toggle {
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    transition-duration: .5s;
  }
  
  .bars {
    width: 100%;
    height: 4px;
    background-color: rgb(92, 130, 255);
    border-radius: 4px;
  }
  
  #bar2 {
    transition-duration: .8s;
  }
  
  #bar1 {
    width: 50%;
  }
  
  #bar2 {
    width: 75%;
  }
  
  #checkbox:checked + .toggle .bars {
    position: absolute;
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle #bar2 {
    transform: scaleX(0);
    transition-duration: .1s;
  }
  
  #checkbox:checked + .toggle #bar1 {
    width: 100%;
    transform: rotate(45deg);
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle #bar3 {
    width: 100%;
    transform: rotate(-45deg);
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle {
    transition-duration: .5s;
    transform: rotate(180deg);
  }
  
  /* Navbar Styles */
  .navbar {
    background-color: #333;
    padding: 10px;
  }
  
  .navbar-list {
    list-style-type: none;
    margin: 0;
    padding: 5;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-list li {
    display: inline-block;
  }
  
  .navbar-list li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
  }
  
  .navbar-list li a:hover {
    background-color: #555;
  }
  
  .navbar-toggle {
    position: relative;
    display: inline-block;
  }
  
  .navbar-icon {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
  }
  
  .navbar-menu {
    display: none;
    list-style-type: none;
    position: absolute;
    background-color: #333;
    padding: 10px;
    top: 100%;
    left: 0;
  }
  
  .navbar-menu li {
    margin-bottom: 5px;
  }
  
  .navbar-menu li a {
    color: #fff;
    text-decoration: none;
  }
  
  input[type="checkbox"] {
    display: none;
  }
  
  input[type="checkbox"]:checked ~ .navbar-menu {
    display: block;
  }

  main {
    background-color: #000000;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container1{
    width: 285px;
    height: 193px;
    background-color: #c0bbaf;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .clgpic{
    width: 285px;
    height: 193px;
    background-color: #c0bbaf;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .head{
    color: #f3f3f3;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  /* footer */
  footer {
    background-color: #27224c;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    /* align-items: center; */
  }

  #social{
    background-color: #6350e1;
    display:block;
  }
    

  .mail{
    color: #f3f3f3
  }
  /* social media */

  .Btn {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 45px;
    border: none;
    background-color: rgb(253, 253, 253);
    color: white;
    box-shadow: 0px 10px 10px rgb(210, 187, 253) inset,
    0px 5px 10px rgba(5, 5, 5, 0.212),
    0px -10px 10px rgb(250, 199, 47) inset;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .Btn::before {
    width: 70%;
    height: 2px;
    position: absolute;
    background-color: rgba(250, 250, 250, 0.678);
    content: "";
    filter: blur(1px);
    top: 7px;
    border-radius: 50%;
  }
  
  .Btn::after {
    width: 70%;
    height: 2px;
    position: absolute;
    background-color: rgba(250, 250, 250, 0.137);
    content: "";
    filter: blur(1px);
    bottom: 7px;
    border-radius: 50%;
  }
  
  .Btn:hover {
    animation: jello-horizontal 0.9s both;
  }
  
  @keyframes jello-horizontal {
    0% {
      transform: scale3d(1, 1, 1);
    }
  
    30% {
      transform: scale3d(1.25, 0.75, 1);
    }
  
    40% {
      transform: scale3d(0.75, 1.25, 1);
    }
  
    50% {
      transform: scale3d(1.15, 0.85, 1);
    }
  
    65% {
      transform: scale3d(0.95, 1.05, 1);
    }
  
    75% {
      transform: scale3d(1.05, 0.95, 1);
    }
  
    100% {
      transform: scale3d(1, 1, 1);
    }
  }
  